.marquee-container.sticky {}

.marquee-w {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transform: rotate(-3deg);
    margin-bottom: 0;
}

.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
    padding: 6px;
}

.custom-bullet {
    list-style-type: disc;
    /* You can also use other values like 'circle' or 'square' */
    margin-right: 8px;
    /* Adjust the margin to control the space between the bullet and the text */
}

.marquee h1 {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    -webkit-text-stroke: 1px #ff585d;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 78%;
    font-size: 85px;
    animation: marquee 30s linear infinite;
    /* Infinite loop */
    /* Increased duration to slow down the animation */
    opacity: 0.5;
    font-size: 14vw;
    font-weight: 700;
    color: transparent !important;
    text-transform: uppercase;
    font-family: "Tt trailers", sans-serif !important;
    will-change: transform;
}

.marquee2 h1 {
    animation: marquee 30s linear infinite;
    /* Infinite loop */
    animation-delay: 15s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}